<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.springboot.mapper.ProductMapper">
    <insert id="insert">
        INSERT INTO product(categoryID,shopID,productname,psrc,product_rest,price,description) values (#{categoryID},#{shopID},#{productname},#{psrc},#{product_rest},#{price},#{description})
    </insert>
    <update id="update">
        UPDATE product
        <set>
            <if test="categoryID!=null">
                categoryID=#{categoryID},
            </if>
            <if test="shopID!=null">
                shopID=#{shopID},
            </if>
            <if test="productname!=null">
                productname=#{productname},
            </if>
            <if test="psrc!=null">
                psrc=#{psrc},
            </if>
            <if test="product_rest!=null">
                product_rest=#{product_rest},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="description!=null">
                description=#{description}
            </if>
        </set>
        <where>
            productID=#{productID}
        </where>
    </update>
    <delete id="delete">
        DELETE from product where productID=#{productID}
    </delete>
    <delete id="deleteBatch">
        DELETE FROM product
        WHERE productID IN
        <foreach collection="productIds" item="productId" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
    <delete id="deleteProductByShopID">
        delete from product
        where shopID=#{shopID}
    </delete>
    <select id="findAll" resultType="com.mark.springboot.entity.Product">
        select * from product
    </select>
    <select id="findProductByShopID" resultType="com.mark.springboot.entity.Product">
        select * from product where shopID=#{shopID}
    </select>
    <select id="findProductByCategoryID" resultType="com.mark.springboot.entity.Product">
        select * from product where shopID=#{shopID} and categoryID=#{categoryID}
    </select>
    <select id="findProductByProductID" resultType="com.mark.springboot.entity.Product">
        select * from product where productID=#{productID}
    </select>
</mapper>